Repository tarsisexistence/routeshub: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, jsonlint

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "prettier --write",
    "tslint",
    "git add"
  ],
  ".*{rc,json}": "jsonlint"
}

fix(deps): update angular monorepo to v9.1.11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency lint-staged to v10.2.10
  package-lock.json
  package.json
Due: none

fix(schematics): null routes
  package/schematics/parse/utils.angular.ts
Due: prettier --write, tslint

feat(schematics): read children
  package/schematics/parse/parsed-route.ts
  package/schematics/parse/utils.angular.ts
Due: prettier --write, tslint

feat(schematics): read loadChildren
  package/schematics/parse/parsed-route.ts
  package/schematics/parse/utils.angular.ts
Due: prettier --write, tslint

feat(schematics): get module name from loadChildren
  package/schematics/parse/index.ts
  package/schematics/parse/types.ts
  package/schematics/parse/utils.angular.ts
Due: prettier --write, tslint

feat(schematics): remove module name from path
  package/schematics/parse/utils.angular.ts
Due: prettier --write, tslint

feat(schematics): get imports from NgModule decorator
  package/schematics/parse/utils.angular.ts
  package/schematics/parse/utils.ast.ts
Due: prettier --write, tslint

feat(schematics): redirectTo parsing
  package/schematics/parse/index.ts
  package/schematics/parse/parsed-route.ts
  package/schematics/parse/utils.angular.ts
  package/schematics/parse/utils.props.ts
Due: prettier --write, tslint

chore(deps): update dependency lint-staged to v10.2.11
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @angular/cli to v10
  package-lock.json
  package.json
Due: none

chore(deps): update dependency all-contributors-cli to v6.16.1
  package-lock.json
  package.json
Due: none

GitBook: [master] 17 pages modified
  docs/README.md
  docs/api/creators.md
  docs/api/directives.md
  docs/api/functions.md
  docs/api/interfaces.md
  docs/concepts/notes.md
  docs/concepts/units.md
  docs/example/creating-hub.md
  docs/example/creating-notes.md
  docs/example/initial-code.md
  docs/example/navigating.md
  docs/installation.md
Due: none

Update dependency snyk to v1.359.0
  package-lock.json
  package.json
Due: none

docs: update README
  README.md
  package-lock.json
  package/README.md
Due: none

Update angular monorepo to v10
  package-lock.json
  package.json
  package/package.json
Due: none

Update dependency ng-packagr to v10
  package-lock.json
  package.json
Due: none

Update dependency tslib to v2
  package-lock.json
  package.json
Due: none

Update dependency typescript to v3.9.6
  package-lock.json
  package.json
Due: none

feat(schematics) add ts-morph
  package/schematics/parse/index.ts
  package/schematics/parse/parsed-route.ts
  package/schematics/parse/types.ts
  package/schematics/parse/utils.angular.ts
  package/schematics/parse/utils.ast.ts
Due: prettier --write, tslint

feat(schematics) add forRoot filter
  package-lock.json
  package.json
  package/schematics/parse/index.ts
  package/schematics/parse/types.ts
  package/schematics/parse/utils.angular.ts
  package/schematics/parse/utils.props.ts
  package/schematics/parse/utils.system.ts
Due: prettier --write, tslint

Update dependency @angular/cli to v10
  package-lock.json
  package.json
Due: none

Update angularcli monorepo
  package-lock.json
  package.json
Due: none

chore: update routeshub peer dependencies
  package/package.json
Due: none

feat: migrate to angular 10
  .browserslistrc
  .lintstagedrc.json
  example-app/app/core/components/header/header.component.ts
  example-app/app/hub/app.hub.ts
  example-app/app/views/about/hub/about.hub.ts
  example-app/app/views/about/hub/about.routes.ts
  example-app/app/views/car/hub/car.hub.ts
  example-app/app/views/details/hub/details.hub.ts
  example-app/app/views/home/hub/home.hub.ts
  example-app/app/views/info/hub/info.hub.ts
  example-app/app/views/users/hub/users.hub.ts
  example-app/tsconfig.app.json
  package-lock.json
  package.json
  package/package.json
  package/tsconfig.lib.json
  package/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.json
  tslint.json
Due: prettier --write, tslint, jsonlint

chore(release): 4.2.0
  CHANGELOG.md
  package.json
  package/package.json
Due: none

Roll back dependency routeshub to 4.1.2
  package.json
Due: none

Update dependency rxjs to v6.6.0
  package.json
Due: none

chore: bump rxjs to 6.6.0
  package-lock.json
  package.json
Due: none

Update dependency tsickle to v0.39.0
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v25.2.3
  package-lock.json
  package.json
Due: none

chore: bump jest to v26
  package-lock.json
  package.json
Due: none

Update dependency @types/node to v12.12.47
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v26
  package-lock.json
  package.json
Due: none

Update dependency jest to v26
  package-lock.json
  package.json
Due: none

Update commitlint monorepo to v9
  package-lock.json
  package.json
Due: none

chore: postpublish chores
  package-lock.json
  package.json
Due: none

Update dependency routeshub to v4.2.0
  package-lock.json
  package.json
Due: none

chore(changelog): update
  CHANGELOG.md
Due: none

feat(schematics) find routes array expression
  package/schematics/parse/utils.angular.ts
Due: prettier --write, tslint
